Repository vmware/govmomi, pull requests merged in 2020-02, with the labels that each got.

#1819 govc: add library.clone -ovf flag
  govc/library/clone.go
  govc/test/library.bats
  vapi/simulator/simulator.go
  vapi/vcenter/vcenter_ovf.go
  vapi/vcenter/vcenter_vmtx.go
Labels: cla-not-required

#1821 govc: use OutputFlag for import.spec
  govc/flags/output.go
  govc/importx/spec.go
  govc/test/import.bats
Labels: area/govc, cla-not-required, kind/enhancement

#1822 vcsim: add HostStorageSystem support
  govc/test/host.bats
  simulator/host_storage_system.go
  simulator/host_system.go
Labels: area/vcsim, cla-not-required, kind/feature

#1823 Add Content Library item copy support
  govc/library/cp.go
  govc/test/library.bats
  vapi/library/library_item.go
  vapi/simulator/simulator.go
Labels: area/govc, area/vapi, area/vcsim, cla-not-required, kind/feature

#1830 Add Namespace support to UseServiceVersion
  vim25/client.go
Labels: area/client, cla-not-required, kind/enhancement

#1829 vcsim: add guest operations support
  govc/test/test_helper.bash
  govc/test/vm.bats
  simulator/container.go
  simulator/guest_operations_manager.go
  simulator/model.go
  simulator/simulator.go
Labels: area/vcsim, cla-not-required, kind/feature

#1831 govc: add cluster.group.ls -l flag
  govc/cluster/group/ls.go
  govc/test/cluster.bats
Labels: area/govc, cla-not-required, kind/enhancement

#1834 toolbox: bump test VM memory for current CoreOS release
  toolbox/toolbox-test.sh
Labels: area/toolbox, cla-not-required

#1837 Avoid ServiceContent requirement in lookup.NewClient
  lookup/client.go
  lookup/simulator/simulator_test.go
Labels: area/client, cla-not-required

#1835 fix blog links
  vcsim/README.md
Labels: documentation/examples

#1845 govc: add content library helpers
  govc/flags/library.go
  govc/library/checkin.go
  govc/library/checkout.go
  govc/library/clone.go
  govc/library/cp.go
  govc/library/deploy.go
  govc/library/errors.go
  govc/library/export.go
  govc/library/import.go
  govc/library/rm.go
  govc/library/sync.go
Labels: area/govc, cla-not-required

#1852 vcsim: support VMs with the same name
  govc/test/vm.bats
  simulator/virtual_machine.go
Labels: area/vcsim, cla-not-required
